
@keyframes moveHeader {
    from{ top: -14vw;}
    to{
        top: -13.7vw;
    }
    
}
@keyframes moveFooter {
    from{ bottom: -18vw;}
    to{
        bottom: -17.7vw;
    }
    
}


.headerimg {
   

    animation-name: moveHeader;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.Footimg {
    
    animation-name: moveFooter;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.9s;

}
