

.main {
 background-color: brown;
}

header {
  display: flex;
 
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;

  
  

}
.dddDiv {

}
.headerimg {
position: absolute;
top: -7vw;
width: 100vw;
}
.Footimg {
  position: absolute;
  width: 100vw;
 
  bottom: -12vw;

}
.backg {
  
  width: 100vw;

}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
 
  
}
section {
  position: relative;
  display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:  url('./components/img/backg.png') no-repeat;
    background-size: 100vw;

}
.boxOne {
  width: 25vh;
  height: 25vh;
  resize: none;
  background-color: aqua;
}
.boxTwo {
  width: 25vh;
  height: 25vh;
  resize: none;
  background-color: rgb(247, 0, 0);
}
.divButton {
  display: flex;
  flex-direction:column;
  gap: 10px;

}
.buttonCod {
  width: 10vh;
  height: 10vh;
  background-color: blue;
}
.buttonDesCod {
  width: 10vh;
  height: 10vh;
  background-color: blue;
}